* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

body {
  font-family: "Inter", sans-serif;
  background-color: black;
  color: white;
}

img,
video {
  display: block;
  max-width: 100%;
}

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(230, 224, 238, 0.15);
  border: 1px solid rgba(238, 238, 238, 0.2);
}

*a {
  text-decoration: none;
}

@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// .star-video {
//   scale: 20%;
//   position: absolute;
//   margin-left: 30%;
//   margin-top: -10%;
// }

.SVG-Video {
  font-size: 130%;
  scale: 0.8;
  text {
    fill: white;
  }
  animation: anim 5s linear infinite;
}
