.footer-contact {
  display: flex;
  align-items: center;
  gap: 75px;
}

.footer-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: -18px;
  align-self: stretch;
}

.footer-titre h2 {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 100px;
  font-weight: 400;
}

.footer-titre h2 span {
  color: #fff;
  font-family: "Island Moments";
  font-size: 133px;
  font-weight: 400;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: -15px;
  flex-shrink: 0;
}

.footer-contact a {
  text-decoration: none;
  transition-duration: 0.3ms;
}
.footer-contact a:hover {
  transform: scale(1.1);
  font-weight: 700;
}

.footer-logo {
  scale: 0.8;
  margin-left: 23%;
  margin-top: 3%;
}
.star {
  position: absolute;
  margin-top: -10.8%;
  left: 48%;
  transform: translate(-50%, -50%);
  width: 4.5%;
  pointer-events: none;
}
.star {
  animation: rotation 4s infinite ease-in-out 1s;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.line2 {
  margin-bottom: 4%;
}
