.video-work-tags {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 3%;
  margin-bottom: 10%;
  margin-left: 2%;
}
.video-work-tag {
  padding: 7px 12px 7px 12px;
  border-radius: 11px;
  border: 1px solid #898989;
  color: #898989;
  font-size: 16px;
  font-weight: 700;
}

.video-work-title {
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
}

.video-work-chapeau {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 1%;
}

.Video_Space {
  margin-bottom: 8%;
}

.container_video_border {
  border-radius: 11px;
  border: 1px solid #fff;
  position: relative;
}

.trigger,
.video-work-tag {
  margin-left: 2%;
}

.header_video_content span {
  color: #fff;
  font-family: "Island Moments";
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.header_video_content h2 {
  color: #fff;
  font-family: Inter;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.header_video_content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 13%;
}

.cadrage_video {
  scale: 0.9;
  margin-top: 8%;
}

.titre_video {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--white, #fff);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  margin-top: 5%;
  margin-left: -4%;
}

.space_video_text {
  margin-top: -5%;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  margin-left: 20%;
  margin-right: -5%;
}
