@import "font";
@import "base";
@import "layout";
@import "modules/example";
@import "bootstrap/scss/bootstrap-grid";
@import "header";
@import "video";
@import "footer";
@import "swiper/swiper";
@import "photography";
@import "poster";

.videoo {
  color: white;
  display: none;
}
.videoo.is-active {
  color: red;
  width: 70%;
  flex-shrink: 0;
  display: contents;
}

.trigger {
  cursor: pointer;
}
